/* The navigation bar */
.navbar {
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    /*grid-column: 1 / span 3; *//* Full width */
    margin: 0 auto;
    float: left;
    display: inline;
    font-family:Oswald; font-size: 1em; font-weight: bold;
    background-color: #BEBEBE;
    text-decoration: none;
    color: black;
    padding: 2px;
    width: 9%;  
}

/* Links inside the navbar */
/* Right-aligned section inside the top navigation */
.navbar a {
  float: left;
  display: inline; /*block;*/
  color: black;
  background-color: #DADADA;
  width:80%;
  text-align: left;
  padding: 3px 5px;
  text-decoration: none;
  border: 3px solid #646464;
  border-left: 5px solid #D69036;
  overflow: wrap;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  background-color: white;
}



/* Main content */
/* Add a top margin to avoid content overlay */
.main {
   margin-top: 30px; 
}

#link-wrapper {
    
}

.grid-container {
    display: grid;
    grid-template-columns: 25.0% 44.8% 31%;
    grid-column-gap: 0em;
    grid-row-gap: 0em;
    margin: auto;
    border: 0px solid #646464;
}

.grid-container > div {
    background: #E8E8E8; 
    /* border: 2px solid #FFF;*/
}

.pic-block {
    justify-content: center;
    padding: 1em;
    line-height: 0;
    font-size: 0;
}

.title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column:2/ span 2;
    padding: 1em;
}

.title-block > span {
    position: absolute;
    margin-top: -50px;
    margin-left: -82px;
    font-family: Oswald;
}

#home-block {
    grid-column:1 /span 3;
    padding: 1em;
}
#about-block {
    grid-column:1 /span 3;
    padding: 1em;
}

#research-block {
    grid-column:1/ span 3;
    padding: 1em;
}

#classes-block {
    grid-column:1/ span 3;
    padding: 1em;
}

#projects-block {
    grid-column:1/ span 3;
    padding: 1em;
}

.tab {
    margin-left: 40px;
}
/*NEW STUFF---------*/

.wrapper {
    width: 80%;
    margin: 0 auto;
}

#vikr-pic {
    max-width: 250px;
    max-height: 250px;
    /*width: 100%;*/
    width: auto;
    height: auto;
    margin:0 auto;
    /*border-radius:5%;*/
    background-size: cover;
}


#name-plate {
    font-size: 1.65em;
    color: #D69036;
}

#section-title {
    font-family:Oswald; font-size: 1.5em; font-weight: bold;
    color: #D69036;
}

#subsection-title {
    font-family:Oswald; font-size: 1.4em; font-weight: bold;
    color: #D69036;
}

#subsubsection-title {
    font-family:Oswald; font-size: 1.2em; font-weight: bold;
    color: #D69036;
}

#subsubsubsection-title {
    font-family:Oswald; font-size: 1em; font-weight: bold;
    color: #D69036;
}

#menu-block {
    /*grid-column:1 /span 1;*/
    font-family:Georgia; font-size: 1em; font-weight: bold;
    /* padding: 1em;*/
    /*overflow-wrap: break-word;*/
}

#menu-block > div > a {
    text-decoration: none;
    color: black;
    font-family: Oswald;
    padding: 5px;
}

body {
    font-family: Open Sans;
}

@media screen and (max-width:970px) {
    .wrapper {
        width: 90vw;
    }

    .title-block {
        padding-top: 30px;
    }

    .title-block > span {
        margin-top: -30;
        margin-left: -25;
    }

    #menu-block {
        padding-top: 30%;
        font-size: 0.8em;
        display:none
    }

    .navbar {
        display: none;
    }

}

@media screen and (max-width:800px) {
    #vikr-pic {
        display: none;
    }
    .grid-container {    
        grid-template-columns: 0% 70.0% 30.0%;
    }
    .title-block > span {
    position: absolute;
    font-family: Oswald;
}
}
